@tailwind base;
@tailwind components;
@tailwind utilities;

/* Order Tracking */
@layer components {
  .done {
    @apply flex items-center flex-col;
  }
  .inprogress {
    @apply flex items-center flex-col animate-toggle;
  }
  .undone {
    @apply flex items-center flex-col opacity-30;
  }
}

@layer components {
  .cart-td {
    @apply text-[16px] font-semibold text-gray-800;
  }
}

@layer components {
  .input-field {
    @apply block w-full outline-none border-b-2 pl-3 py-1 transition duration-300 hover:border-b-main focus:border-b-main;
  }
}

/* Table Custom Style */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #d6eeee;
}
@media (max-width: 480px) {
  td,
  th {
    padding: 0;
    font-size: 13px;
  }
}
